<div class="gal-container">
<div class="gal-img"><img src="/assets/photosets/space/space-1.jpg"></div>
<div class="gal-img"><img src="/assets/photosets/space/space-2.jpg"></div>
<div class="gal-img"><img src="/assets/photosets/space/space-3.jpg"></div>
<div class="gal-img"><img src="/assets/photosets/space/space-4.jpg"></div>
<div class="gal-img"><img src="/assets/photosets/space/space-5.jpg"></div>
<div class="gal-img"><img src="/assets/photosets/space/space-1.jpg"></div>
<div class="gal-img"><img src="/assets/photosets/space/space-3.jpg"></div>
<div class="gal-img"><img src="/assets/photosets/space/space-5.jpg"></div>
<div class="gal-img"><img src="/assets/photosets/space/space-2.jpg"></div>
<div class="gal-img"><img src="/assets/photosets/space/space-4.jpg"></div>
</div>
