
<html>
  <head>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
<header>
    <h1>Mr James Bell</h1>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/archive.html">Blog</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/now.html">Now</a></li>
    </ul>
</nav>
</header>
