
* {
  margin: 0;
  padding: 0;
}

html {
    font-size: 100%;
}

        a:visited{
            color: #d00;
        }

        body{
                font-family: sans-serif;
                font-size: 1.1rem;
               line-height:160%;
               max-width:52rem;
               padding: 2rem;
               margin-left: 2rem;
               margin-top: 0;
               margin:auto;
               background-color: #FDFDFD;
            }

        img {
            max-width: 100%;
        }

        ol, ul {
            margin-left: 2rem;
            padding: 0 0 1rem 0;
            line-height: 160%;
        }

        h1,h2,h3,h4,h5 {
                line-height:120%;
                margin-bottom: .25rem;            }

        h4 {
            color: #d00 ;
            font-size: .8rem;
            margin-top: -1rem;
        }

        h2 {
                margin-bottom: 1rem;
                font-size: 2.5rem;
        }


        p   {
                margin:0 0 1rem;
            }

        header {
                font-size: 1rem;
                padding-bottom: 1.5rem;
                text-transform: uppercase;
        }

        nav {
            font-size: 1.1rem;
            color: black;
            padding: .25 0 1rem 0;
        }

        nav ul {
                 list-style-type: none;
                  margin: 0;
                  padding: 0;
        }
        nav li {
                display: inline-block;
                padding-bottom: .1rem;
                }

        nav a {
                display: block;
                padding-right: .25rem;
                padding-left: .25rem;
                color: #d00;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                }

        nav a:visited{
            color: #d00;
        }

        nav a:hover {
            text-decoration: none;
            /* This is horrible hack */
            border-bottom: 1px solid red;
            margin-bottom: -1px;
            color: #d00;
        }

        hr {
            border: 2px solid #999;
        }

        @media (max-width:550px) {

            html {
                font-size: 80%;
            }

            body {
                margin-right: 2rem;
            }

            img {
                max-width: 100%;
            }
        }

        footer {
            padding-top: 1rem;
            font-size: 2rem;
            text-align: center;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        .posttitle {
        margin-bottom: 1rem;
        padding-left: .25rem;
        padding-top: .25rem;
        padding-bottom: .2rem;
        border-bottom: .2rem solid black ;
        border-top: .2rem solid black ;

}

        .postcontent {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

img.right {
    display:block;
    float:right;
    max-height: 100%;
}

.hero {
    border: .5rem solid black;
    padding: .5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.social-media {
    font-size: 2rem;
    margin-bottom: 1em;
}

.fa {
    color: black;
}

.reverse {
    text-transform: uppercase;
    background-color: black;
    font-weight: bold;
    color: white;
    padding :.5rem;
    display: inline-block;
    min-width: auto;
    overflow: hidden;
}
